<div class="container">
  <mat-card class="card-container">
    <h1>Thay đổi mật khẩu</h1>
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="fill" class="form-item">
          <mat-label>Nhập mật khẩu cũ</mat-label>
          <input matInput placeholder="Enter password" formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
            <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('oldPassword')?.invalid">{{getErrorOldPasswordMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="form-item">
          <mat-label>Nhập mật khẩu mới</mat-label>
          <input matInput placeholder="Enter password" formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('newPassword')?.invalid">{{getErrorNewPasswordMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="form-item">
          <mat-label>Xác minh mật khẩu mới</mat-label>
          <input matInput placeholder="Enter password" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('confirmPassword')?.invalid">{{getErrorConfirmPasswordMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button class="form-item" color="primary" (click)="changePassword()">Change Password</button>
    </form>
  </mat-card>
</div>

