.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .card-container {
    width: 400px;

    h1 {
      text-align: center;
    }

    .form-item {
      width: 100%;
    }
  }
}
