<div class="container">
  <mat-card class="card-container">
    <h1>Quên mật khẩu</h1>
    <div>
      <mat-form-field appearance="fill" class="form-item">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <button mat-flat-button class="form-item" color="primary" (click)="forgotPassword()">Forgot Password</button>
  </mat-card>
</div>
