.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  .card-container {
    width: 400px;
  }

  h1 {
    text-align: center;
  }

  .form-item {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .forgot-password {
    float: right;
    margin-bottom: 10px;
  }

  .register {
    text-align: center;
    padding-bottom: 10px;
  }
}
