<div class="container">
  <mat-card class="card-container">
    <h1>Đăng nhập</h1>
    <div class="register">
      <a [routerLink]="['auth', 'forgot-password']" routerLinkActive="active">Dont have an account? Register now.</a>
    </div>
    <form [formGroup]="form">
      <div>
        <mat-form-field appearance="fill" class="form-item">
          <mat-label>Tài khoản</mat-label>
          <input matInput placeholder="Enter username" formControlName="username">
          <mat-icon matSuffix><i class="fa fa-user" aria-hidden="true"></i></mat-icon>
          <mat-error *ngIf="form.get('username')?.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="form-item">
          <mat-label>Mật khẩu</mat-label>
          <input matInput placeholder="Enter password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password')?.invalid">{{getErrorPasswordMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <a class="forgot-password" [routerLink]="['auth', 'forgot-password']" routerLinkActive="active">Forgot Password?</a>
      <button mat-flat-button class="form-item" color="primary" (click)="login()">Đăng nhập</button>
    </form>
  </mat-card>
</div>
